
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">

</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	<div class="container">
		<div class="card bg-light mt-4">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/views/registros/formTripulante}" th:object="${formTripulante}"
					method="post">
					<input type="hidden" th:field="*{id}">
					<div class="form-group row">
						<label class="col-md-2" for="documento">Documento</label> <input
							type="text" class="form-control form-control-sm col-md-6"
							id="documento" th:field="*{documento}"> <small
							class="form-text text-danger col-md-4 offset-2"
							th:if="${#fields.hasErrors('documento')}"
							th:errors="*{documento}"></small>

					</div>
					<div class="form-group row">
						<label class="col-md-2" for="apellidos">Apellidos</label> <input
							type="text" class="form-control form-control-sm col-md-6"
							id="apellidos" th:field="*{apellidos}"> <small
							class="form-text text-danger col-md-4 offset-2"
							th:if="${#fields.hasErrors('apellidos')}"
							th:errors="*{apellidos}"></small>
					</div>

					<div class="form-group row">
						<label class="col-md-2" for="nombres">Nombres</label>
						<input type="text" th:field="*{nombres}"
							class="form-control form-control-sm col-md-6" id="nombres">
						<small class="form-text text-danger col-md-4 offset-2"
							th:if="${#fields.hasErrors('nombres')}"
							th:errors="*{nombres}"></small>
					</div>

					<div class="form-group row">
						<label class="col-md-2" for="nacionalidad">Nacionalidad</label>
						<select th:field="*{nacionalidad}"
							class="form-control form-control-sm col-md-6" id="nacionalidad">
							<option th:value="Argentina">Argentina</option>
							<option th:value="Bolivia">Boliviana</option>
							<option th:value="Uruguay">Uruguaya</option>
							<option th:value="Peru">Peruana</option>
							<option th:value="Brasil">Brasilenia</option>
							<option th:value="Ecuador">Ecuatoriana</option>

						</select>
					</div>

					<div class="form-group row">
						<small class="form-text text-danger col-md-4 offset-2"
							th:text="${usuarioEncontrado}"></small>
					</div>

					<div class="card-footer bg-dark">
						<a class="btn btn-secondary" th:href="@{/views/registros/registroTracking}">Cancelar</a>
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#modalAgregar">Guardar Tripulante</button>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="modalAgregar" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Formulario
										Usuario</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">¿Desea guardar los cambios?</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">No</button>
									<input type="submit" class="btn btn-primary" value="Si" />
								</div>
							</div>
						</div>
					</div>

					<!--fin Modal -->

				</form>


			</div>

		</div>


	</div>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>